<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      const token = document
        .querySelector("meta[name='csrf-token']")
        .getAttribute("content");
      const updateTodo = (id) => {
        const bool = document.querySelector(`#checkbox-${id}`).checked;
        console.log(bool);
        fetch(`/todos/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
            completed: bool,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch(err);
        {
          console.log(err);
        }
      };
      const deleteTodo = (id) => {
        fetch(`/todos/${id}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch(err);
        {
          console.log(err);
        }
      };
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-span-2 col-start-3">
        <%- include("header.ejs") %>
        <div class="flex justify-between w-full mb-1">
          <p class="mb-2 mt-1 text-xl text-blue-600">Welcome <%= user %> !!!</p>

          <p class="mb-2 mt-1 mr-3 text-xl text-gray-900 underline">
            <a href="/signout">SignOut</a>
          </p>
        </div>

        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <li class="mb-2 text-rose-500"> <%= messages.error[i] %></li>
          <% } %>
        <% } %>

        <form action="/todos" method="post" class="mb-3">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          <div class="flex gap-2">
            <div class="flex-auto">
              <input
                type="text"
                name="title"
                placeholder="What's next?"
                class="rounded border-2 border-gray-900 w-full p-2 text-sm"
              />
            </div>
            <div class="flex-auto">
              <input
                name="dueDate"
                type="date"
                class="rounded border-2 border-gray-900 w-full p-2 text-sm leading-4"
              />
            </div>
            <div class="flex-none">
              <input
                type="submit"
                value="Add"
                class="text-white bg-green-600 px-5 rounded py-2 font-medium mr-2 mb-2"
              />
            </div>
          </div>
        </form>
        <%- include('todos.ejs',{title : "Overdue",data: overdue}) %> <%-
        include('todos.ejs',{title : "Due Today",data: dueToday}) %> <%-
        include('todos.ejs',{title : "Due Later",data: dueLater}) %> <%-
        include('todos.ejs',{title : "Completed Items",data: completedItems}) %>
      </div>
    </div>
  </body>
</html>
